body {
    font-weight: 400;
    font-size: 11px !important;
    font-family: Verdana;
}
.verdana {
    font-family: Verdana;
}

.content_subtitle {
    font-size: 13px !important;
}

.control-panel-sibebar {
    font-size: 12px !important;
}

.dropdown-menu {
    font-size: 12px !important;
}
.dropdown-item {
    padding: 5px 10px !important;
}
.form-control {
    font-size: 11px !important;
}

.btn-font {
    font-family: Arial;
    font-size: 15px !important;
    letter-spacing: 1px;
}